{% extends 'Ratecompany/base.html' %}
<link href="static/companies.css" rel="stylesheet">
{% load static %}
{% block title_block %}
    Companies
{% endblock %}


{% block body_block %}
<div style="width: 90%; margin: auto">
    <h3>Industries</h3>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'Ratecompany:company_list' %}">Categories</a>
        {% for category in categories %}
            <li class="list-group-item"><a href="{% url 'Ratecompany:company_list' %}?id={{ category.id }}">{{ category.name }}</a></li>
        {% endfor %}
    </nav>

</div>

<div style="width: 80%;margin: auto">
    <ul class="list-group list-group-horizontal-lg">
        {% for company in companies %}
            <div class="card" style="width: 18rem;">
                <img src="/static/baidu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ company.name }}
                    </h5>
                    <a href="{% url 'Ratecompany:company_detail' company.id %}" class="btn btn-primary">GO!</a>
                </div>
            </div>
        {% endfor %}

    </ul>
</div>
{% endblock %}

