{% extends 'Ratecompany/base.html' %}
<link href="static/companies.css" rel="stylesheet">
{% load static %}
{% block title_block %}
    Companies
{% endblock %}


{% block body_block %}
<div>
    <h3>Industries</h3>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"></span>

        <a class="navbar-brand" href="#">Categories</a>

        {% for category in categories %}

        <li class="list-group-item"><a href="/company/{{ category.slug }}">{{ category.name }}</a></li>
        {% empty %}
        <h4>lilililliliil</h4>
        {% endfor %}
        </nav>

</div>

<div>
    <ul class="list-group list-group-horizontal-lg">

        {% for company in companies %}

            <div class="card" style="width: 18rem;">

                <img src="/static/baidu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ company.name }}
                    </h5>
                    <a href="/company/category/{{ company.slug }}" class="btn btn-primary">GO!</a>
                </div>

            </div>




        {% endfor %}

    </ul>
</div>
{% endblock %}

