{% extends 'Ratecompany/base.html' %}
{% load extratags %}

{% load static %}
{% block title_block %}
    Companies
{% endblock %}
{% block css %}
    <style>
    body{
        background-image: url('/static/comments.jpg');
        height: 100%;
        background-size: 100%;
    }
    div.good-item-title{
        background-color: #ad6464;
        font-size: 18px;
        padding: 10px 20px;
        color: #fff;
        font-weight: normal;
        margin: auto;
    }
    div.good-item
    {
        width: 80%;
        overflow: hidden;
        margin: 80px auto;
        border: solid 1px #ad6464;
    }

    div.company-left{
        width: 50%;float: left;padding: 10px 10px 10px 10px;


    }

    div.company-left > p
    {
        margin-left: 6%;
        min-height: 21px;
        _height: 21px;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        color: white;
        margin-bottom: 20px;
    }
    div.company-right{
        background: transparent!important;
    }


    </style>

{% endblock %}

{% block body_block %}
<div>
    <div class="good-item">
        <div class="good-item-title">
            hello {{ request.user.username }}!
        </div>
        <div style="" class="company-left">
        
        <div style="color:whitesmoke;width: 100%;margin: auto;margin-top: 50px">
          <h2 style="width: 80%;margin: auto;margin-top: 50px"> Now Rate!</h2>
          <form method="post" action="{% url 'Ratecompany:rate' %}" style="width: 80%;margin: auto;margin-top: 50px">
    
              {% csrf_token %}
              <div>
                  <p>choose comment type:</p>
                  <input type="radio"   value="0"  name="classify"> salary</input>
                  <input type="radio"   value="1"  name="classify"> wellfare</input>
                  <input type="radio"   value="2"  name="classify"> atmosphere</input>
                  <p></p>
              </div>

              <div>
                  <p>give a score:</p>
                  <input type="radio"   value="1"  name="star"> 1 star</input>
                  <input type="radio"   value="2"  name="star"> 2 star</input>
                  <input type="radio"   value="3"  name="star"> 3 star</input>
                  <input type="radio"   value="4"  name="star"> 4 star</input>
                  <input type="radio"   value="5"  name="star"> 5 star</input>
                  <p></p>
              </div>
              <div>
                  <p>leave a comment:</p>
              <textarea style="width: 100%" name="content">

              </textarea>
              </div>

              <button type="submit">submit</button>
              <div style="color: #ad6464;font-size: 20px">{{ error }}</div>

          </form>
      </div>
            
        </div>

        
        
        
        
        
        <div class="company-right" style="background-color:#FFF;height:650px;width:50%;float:left;border: 1px solid aliceblue;border: 1px solid aliceblue;
    overflow: scroll;">

            <div style="background: transparent;">
            <a style=" margin-left:120px; margin-top:20px; color:whitesmoke; font-size: x-large; font-family: 'Times New Roman'"><b>All your comments</b></a></div>
            <ul style="list-style: none;padding: 6px" id="say-list">
                    {% for item in comment_list %}
                    <li style="border-bottom: 1px dashed rgba(240,150,102,0.28);font-size: 12px; color: whitesmoke" data="{{ item.id }}">
                        <span></strong>({{ item.create_time }}):</span>
                        <img src="/static/star-on-big.png">
                        {% for item in item.score|inttolist %}
                            <img src="/static/star-on-big.png">
                        {% endfor %}
                        
                        <p style="height:auto;word-break:break-all; color: whitesmoke;">({{item.get_classify_display}}): {{ item.comments }}</p>
                    </li>
                   
                {% endfor %}
            </ul>
        </div>


    </div>
</div>



{% endblock %}
