{% extends 'Ratecompany/base.html' %}

{% load static %}
{% block title_block %}
    Companies
{% endblock %}

{% block body_block %}
<div class="cpy-img">
<img src="/static/baidu.png" class="each-img" alt="...">
</div>


    <div class="card text-center">
    <div class="card-header">
          <h5 class="card-header">{{ company.slug }}</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Company Info
        </h5>
        <p class="card-text">
            Lorem50
        </p>
        <a href="#" class="btn btn-primary">View More Comments</a>
    </div>

    <div class="card-footer text-muted">
        Location: xxxxxxxxxx
    </div>
    </div>

    <div id="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

    </div>


{% endblock %}
